# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.DS_Store
**/*.prof
**/*.test

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
workspace/agent/agent
workspace/agent/old_agent
workspace/verathread/verathread
vendor
bin
.data/
**/node_modules
**/bin
**/dist
settings.env
resource/local
.idea/
bazel-bin
bazel-out
bazel-testlogs
bazel-verathread
/bazel-*
/.tmp
/.cache
builtlist
.envrc
.idea
.env
/.docker
scripts/vth
/builds/
.vth.profile.yaml
.export/
coverage.txt
.kube
/coverage.xml
/coverage.html
/kubeconfig
dist/
/debug/
/cmd/webv2/.angular/cache/15.1.1/
/load_test/parca/
data/
curl/

**/.angular
.data/
/documentation/site/
regctl
docs/site

tilt_config.json

